<div class="main">
  <div class="container">
    <%= react_component("ListingNewPage", listing_id: @listing.id, p_conditions: @product_conditions, service_cat: Service::SERVICE_CATEGORY_ID) %>
    <div class="main-right">
      <div class="home-free-items">
        <div class="home-module-title">Үнэгүй бараа</div>
        <div class="home-free-item">
          <div class="home-free-item-img">
            <div class="home-free-item-badget"></div>
            <%= image_tag('123.jpg')%>
          </div>
          <div class="title-1">Iphone 6 space grey</div>
          <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>
          <div class="clearfix"></div>
        </div>
        <div class="home-free-item">
          <div class="home-free-item-img">
            <div class="home-free-item-badget"></div>
            <%= image_tag('123.jpg')%>
          </div>
          <div class="title-1">Iphone 6 space grey</div>
          <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>
          <div class="clearfix"></div>
        </div>
        <div class="home-free-item">
          <div class="home-free-item-img">
            <div class="home-free-item-badget"></div>
            <%= image_tag('123.jpg')%>
          </div>
          <div class="title-1">Iphone 6 space grey</div>
          <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>
          <div class="clearfix"></div>
        </div>
        <div class="home-free-item">
          <div class="home-free-item-img">
            <div class="home-free-item-badget"></div>
            <%= image_tag('123.jpg')%>
          </div>
          <div class="title-1">Iphone 6 space grey</div>
          <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>
          <div class="clearfix"></div>
        </div>
        <div class="home-free-item">
          <div class="home-free-item-img">
            <div class="home-free-item-badget"></div>
            <%= image_tag('123.jpg')%>
          </div>
          <div class="title-1">Iphone 6 space grey</div>
          <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>