
<div class="main">

	<div class="container">

		<div class="login-page">

			<div class="login-page-title">Нууц үгээ мартсан</div>

				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				  

				  <div><%= f.label :email %><br />
				  <div class="login-page-input"><%= f.email_field :email, :autofocus => true %></div></div>

				  <div class="login-page-button"><%= f.submit "Нууц үг илгээх" %></div>
				<% end %>

				<div class="login-page-links"><%= render "devise/shared/links" %></div>


		</div>

	</div>

</div>
