<div class="main">
  <div class="container">
    <div class="main-left">
      
      <%= react_component("CategoryMenu", url: "/rest/categories.json", include_header: true) %>

      <div class="left-banner">
        <%= image_tag('banner1.png')%>
      </div>

    </div>

    <div class="main-timeline">

      <div class="add-deal-button-container">

        <button type="button" class="btn btn-default">Тохиролцоо нэмэх</button>

      </div>


      <div class="timeline-content special">


       <a href="#" id="has-hovercard"><div class="timeline-dealer-info">

        <div class="timeline-dealer-img"><%= image_tag('avatar.png')%></div>
        <div class="timeline-dealer-name">C.Эрдэнэ</div>
        <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
        <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

      </div></a>


      <div class="hovercard">
        <div class="hovercard-content">

          <div class="timeline-dealer-info-img"><%= image_tag('profile-sample.png')%></div>
          <div class="timeline-dealer-info-other">

            <div class="timeline-dealer-info-name"><a href="#">С.Эрдэнэ</a></div>
            <div class="timeline-dealer-info-rank">

              <table width="100%">

                <tr>
                  <td><span>Үнэлгээ</span> <br/> <%= image_tag('rank-big.png')%> </td>
                  <td align="right"><span>Нийт үнэлсэн</span> <br/> <div class="count-rank-people">15</div> </td>
                </tr> 
                <tr>
                  <td><span>Нийт тохиролцоо</span> <br/> <div class="count-all-deals">15</div>  </td>
                  <td align="right"><span>Тохиролцсон</span> <br/> <div class="count-done-deals">15</div>  </td>
                </tr>   

              </table>

            </div>

          </div>

        </div>
      </div>


      <div class="timeline-cyrcle"></div>

      <div class="timeline-deal-item">

        <div class="timeline-arrow"></div>
        <div class="special-badget"></div>

        <div class="timeline-deal-item-container">

          <div class="timeline-deal-item-detail">

            <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

            <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
            <div class="timeline-deal-item-info">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            </div>
            <div class="timeline-deal-item-want">
              <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
            </div>


            <div class="clearfix"></div>

          </div>

          <div class="timeline-deal-item-bottom">

            <div class="timeline-deal-item-bottom-check">

              <div class="checkbox btn btn-default">
                <label>
                  <input type="checkbox"> Дугуайлах
                </label>
              </div>


            </div>

            <div class="timeline-deal-item-bottom-bids">

              <div class="btn btn-default" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Ирсэн санал: 5
              </div>




            </div>

            <div class="timeline-deal-item-bottom-bid">

              <div class="btn btn-primary">
                Санал илгээх
              </div>


            </div>

            <div class="timeline-deal-item-bottom-chat">

              <div class="btn btn-success">
                Чатлах
              </div>


            </div>







          </div>



        </div>

        <div class="collapse" id="collapseExample">
          <div class="well timeline-deal-item-bids-items">


            <div class="timeline-deal-item-bids-left-arrow"></div>

            <div class="timeline-deal-item-bids-item">

              <a href="#"><%= image_tag('123.jpg')%></a>

            </div>

            <div class="timeline-deal-item-bids-item">

              <a href="#"><%= image_tag('123.jpg')%></a>

            </div>

            <div class="timeline-deal-item-bids-item">

              <a href="#"><%= image_tag('123.jpg')%></a>

            </div>

            <div class="timeline-deal-item-bids-item">

              <a href="#"><%= image_tag('123.jpg')%></a>

            </div>

            <div class="timeline-deal-item-bids-right-arrow"></div>


            <div class="clearfix"></div>


          </div>
        </div>

      </div>

      <div class="clearfix"></div>

    </div>

    <div class="timeline-content special">


     <a href="#" id="has-hovercard"><div class="timeline-dealer-info">

      <div class="timeline-dealer-img"><%= image_tag('avatar.png')%></div>
      <div class="timeline-dealer-name">C.Эрдэнэ</div>
      <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
      <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

    </div></a>


    <div class="hovercard">
      <div class="hovercard-content">

        <div class="timeline-dealer-info-img"><%= image_tag('profile_sample.png')%></div>
        <div class="timeline-dealer-info-other">

          <div class="timeline-dealer-info-name"><a href="#">С.Эрдэнэ</a></div>
          <div class="timeline-dealer-info-rank">

            <table width="100%">

              <tr>
                <td><span>Үнэлгээ</span> <br/> <%= image_tag('rank-big.png')%> </td>
                <td align="right"><span>Нийт үнэлсэн</span> <br/> <div class="count-rank-people">15</div> </td>
              </tr> 
              <tr>
                <td><span>Нийт тохиролцоо</span> <br/> <div class="count-all-deals">15</div>  </td>
                <td align="right"><span>Тохиролцсон</span> <br/> <div class="count-done-deals">15</div>  </td>
              </tr>   

            </table>

          </div>

        </div>

      </div>
    </div>


    <div class="timeline-cyrcle"></div>

    <div class="timeline-deal-item">

      <div class="timeline-arrow"></div>
      <div class="special-badget"></div>

      <div class="timeline-deal-item-container">

        <div class="timeline-deal-item-detail">

          <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

          <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
          <div class="timeline-deal-item-info">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
          </div>
          <div class="timeline-deal-item-want">
            <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
          </div>


          <div class="clearfix"></div>

        </div>

        <div class="timeline-deal-item-bottom">

          <div class="timeline-deal-item-bottom-check">

            <div class="checkbox btn btn-default">
              <label>
                <input type="checkbox"> Дугуайлах
              </label>
            </div>


          </div>

          <div class="timeline-deal-item-bottom-bids">

            <div class="btn btn-default" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              Ирсэн санал: 5
            </div>




          </div>

          <div class="timeline-deal-item-bottom-bid">

            <div class="btn btn-primary">
              Санал илгээх
            </div>


          </div>

          <div class="timeline-deal-item-bottom-chat">

            <div class="btn btn-success">
              Чатлах
            </div>


          </div>







        </div>



      </div>

      <div class="collapse" id="collapseExample2">
        <div class="well timeline-deal-item-bids-items">


          <div class="timeline-deal-item-bids-left-arrow"></div>

          <div class="timeline-deal-item-bids-item">

            <a href="#"><%= image_tag('123.jpg')%></a>

          </div>

          <div class="timeline-deal-item-bids-item">

            <a href="#"><%= image_tag('123.jpg')%></a>

          </div>

          <div class="timeline-deal-item-bids-item">

            <a href="#"><%= image_tag('123.jpg')%></a>

          </div>

          <div class="timeline-deal-item-bids-item">

            <a href="#"><%= image_tag('123.jpg')%></a>

          </div>

          <div class="timeline-deal-item-bids-right-arrow"></div>


          <div class="clearfix"></div>


        </div>
      </div>

    </div>

    <div class="clearfix"></div>

  </div>

  <div class="timeline-content special">


   <a href="#" id="has-hovercard"><div class="timeline-dealer-info">

    <div class="timeline-dealer-img"><%= image_tag('avatar.png')%></div>
    <div class="timeline-dealer-name">C.Эрдэнэ</div>
    <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
    <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

  </div></a>


  <div class="hovercard">
    <div class="hovercard-content">

      <div class="timeline-dealer-info-img"><%= image_tag('profile_sample.png')%></div>
      <div class="timeline-dealer-info-other">

        <div class="timeline-dealer-info-name"><a href="#">С.Эрдэнэ</a></div>
        <div class="timeline-dealer-info-rank">

          <table width="100%">

            <tr>
              <td><span>Үнэлгээ</span> <br/> <%= image_tag('rank-big.png')%> </td>
              <td align="right"><span>Нийт үнэлсэн</span> <br/> <div class="count-rank-people">15</div> </td>
            </tr> 
            <tr>
              <td><span>Нийт тохиролцоо</span> <br/> <div class="count-all-deals">15</div>  </td>
              <td align="right"><span>Тохиролцсон</span> <br/> <div class="count-done-deals">15</div>  </td>
            </tr>   

          </table>

        </div>

      </div>

    </div>
  </div>


  <div class="timeline-cyrcle"></div>

  <div class="timeline-deal-item">

    <div class="timeline-arrow"></div>
    <div class="special-badget"></div>

    <div class="timeline-deal-item-container">

      <div class="timeline-deal-item-detail">

        <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

        <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
        <div class="timeline-deal-item-info">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
        </div>
        <div class="timeline-deal-item-want">
          <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
        </div>


        <div class="clearfix"></div>

      </div>

      <div class="timeline-deal-item-bottom">

        <div class="timeline-deal-item-bottom-check">

          <div class="checkbox btn btn-default">
            <label>
              <input type="checkbox"> Дугуайлах
            </label>
          </div>


        </div>

        <div class="timeline-deal-item-bottom-bids">

          <div class="btn btn-default" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
            Ирсэн санал: 5
          </div>




        </div>

        <div class="timeline-deal-item-bottom-bid">

          <div class="btn btn-primary">
            Санал илгээх
          </div>


        </div>

        <div class="timeline-deal-item-bottom-chat">

          <div class="btn btn-success">
            Чатлах
          </div>


        </div>







      </div>



    </div>

    <div class="collapse" id="collapseExample3">
      <div class="well timeline-deal-item-bids-items">


        <div class="timeline-deal-item-bids-left-arrow"></div>

        <div class="timeline-deal-item-bids-item">

          <a href="#"><%= image_tag('123.jpg')%></a>

        </div>

        <div class="timeline-deal-item-bids-item">

          <a href="#"><%= image_tag('123.jpg')%></a>

        </div>

        <div class="timeline-deal-item-bids-item">

          <a href="#"><%= image_tag('123.jpg')%></a>

        </div>

        <div class="timeline-deal-item-bids-item">

          <a href="#"><%= image_tag('123.jpg')%></a>

        </div>

        <div class="timeline-deal-item-bids-right-arrow"></div>


        <div class="clearfix"></div>


      </div>
    </div>

  </div>

  <div class="clearfix"></div>

</div>

<div class="timeline-content special">


 <a href="#" id="has-hovercard"><div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('avatar.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div></a>


<div class="hovercard">
  <div class="hovercard-content">

    <div class="timeline-dealer-info-img"><%= image_tag('profile_sample.png')%></div>
    <div class="timeline-dealer-info-other">

      <div class="timeline-dealer-info-name"><a href="#">С.Эрдэнэ</a></div>
      <div class="timeline-dealer-info-rank">

        <table width="100%">

          <tr>
            <td><span>Үнэлгээ</span> <br/> <%= image_tag('rank-big.png')%> </td>
            <td align="right"><span>Нийт үнэлсэн</span> <br/> <div class="count-rank-people">15</div> </td>
          </tr> 
          <tr>
            <td><span>Нийт тохиролцоо</span> <br/> <div class="count-all-deals">15</div>  </td>
            <td align="right"><span>Тохиролцсон</span> <br/> <div class="count-done-deals">15</div>  </td>
          </tr>   

        </table>

      </div>

    </div>

  </div>
</div>


<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>
  <div class="special-badget"></div>

  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
          Ирсэн санал: 5
        </div>




      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>







    </div>



  </div>

  <div class="collapse" id="collapseExample4">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>

</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content special">


 <a href="#" id="has-hovercard"><div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('avatar.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div></a>


<div class="hovercard">
  <div class="hovercard-content">

    <div class="timeline-dealer-info-img"><%= image_tag('profile_sample.png')%></div>
    <div class="timeline-dealer-info-other">

      <div class="timeline-dealer-info-name"><a href="#">С.Эрдэнэ</a></div>
      <div class="timeline-dealer-info-rank">

        <table width="100%">

          <tr>
            <td><span>Үнэлгээ</span> <br/> <%= image_tag('rank-big.png')%> </td>
            <td align="right"><span>Нийт үнэлсэн</span> <br/> <div class="count-rank-people">15</div> </td>
          </tr> 
          <tr>
            <td><span>Нийт тохиролцоо</span> <br/> <div class="count-all-deals">15</div>  </td>
            <td align="right"><span>Тохиролцсон</span> <br/> <div class="count-done-deals">15</div>  </td>
          </tr>   

        </table>

      </div>

    </div>

  </div>
</div>


<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>
  <div class="special-badget"></div>

  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
          Ирсэн санал: 5
        </div>




      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>







    </div>



  </div>

  <div class="collapse" id="collapseExample5">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>

</div>

<div class="clearfix"></div>

</div>























<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample6">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample7">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample8">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample9">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample10">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample11">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>

<div class="timeline-content">

 <div class="timeline-dealer-info">

  <div class="timeline-dealer-img"><%= image_tag('profile_sample.png')%></div>
  <div class="timeline-dealer-name">C.Эрдэнэ</div>
  <div class="timeline-dealer-rank-star"><%= image_tag('rank-2-5.png')%></div>
  <div class="timeline-dealer-rank-vote">Үнэлсэн: 15</div>

</div>



<div class="timeline-cyrcle"></div>

<div class="timeline-deal-item">

  <div class="timeline-arrow"></div>


  <div class="timeline-deal-item-container">

    <div class="timeline-deal-item-detail">

      <div class="timeline-deal-item-img"><%= image_tag('123.jpg')%></div>

      <div class="timeline-deal-item-title">Iphone 6S 128gb factory unlocked</div>
      <div class="timeline-deal-item-info">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </div>
      <div class="timeline-deal-item-want">
        <span>Тохиролцоно:</span> <a href="#">Samsung Galaxy S6</a>, <a href="#">Samsung Galaxy S6</a>
      </div>


      <div class="clearfix"></div>

    </div>

    <div class="timeline-deal-item-bottom">

      <div class="timeline-deal-item-bottom-check">

        <div class="checkbox btn btn-default">
          <label>
            <input type="checkbox"> Дугуайлах
          </label>
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bids">

        <div class="btn btn-default"  data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
          Ирсэн санал: 5
        </div>


      </div>

      <div class="timeline-deal-item-bottom-bid">

        <div class="btn btn-primary">
          Санал илгээх
        </div>


      </div>

      <div class="timeline-deal-item-bottom-chat">

        <div class="btn btn-success">
          Чатлах
        </div>


      </div>



      <div class="clearfix"></div>

    </div>

  </div>


  <div class="collapse" id="collapseExample12">
    <div class="well timeline-deal-item-bids-items">


      <div class="timeline-deal-item-bids-left-arrow"></div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-item">

        <a href="#"><%= image_tag('123.jpg')%></a>

      </div>

      <div class="timeline-deal-item-bids-right-arrow"></div>


      <div class="clearfix"></div>


    </div>
  </div>


</div>

<div class="clearfix"></div>

</div>




</div>



















<div class="main-right">

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>


  <div class="home-free-items">


    <div class="home-module-title">Үнэгүй бараа</div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>


  </div>

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>

</div>









</div>



























<script type="text/javascript">
$('#has-hovercard').hover(
  function(e){
    console.log("tes");
    clearTimeout($('.hovercard').data('timeoutId'));
    position = $(this).position();
    position.top = position.top + 15;
    position.left = position.left;

      //
      /*U can load the data using ajax too*/
      //

      $('.hovercard').show().css(position);
    },
    function(e){
      var someElement = $(this),
      timeoutId = setTimeout(function(){
        $('.hovercard').hide();
      }, 650);
      $('.hovercard').data('timeoutId', timeoutId); 
    });
$('.hovercard').hover(function(){
  clearTimeout($('.hovercard').data('timeoutId'));
},
function(){
  $(this).hide();
});

</script>


