<div class="main">


    <div class="container">


            

            


        <div class="add-deal-page">


            <div class="home-module-title big-title">Тохиролцоо нэмэх</div>

                <div class="col-md-12"><div class="home-module-title sub-title">Ерөнхий мэдээлэл</div></div>

                <div class="form-group col-md-12">
                    <label>Гарчиг <a href="#">[?]</a></label>
                    <input type="text" class="form-control" placeholder="Гарчиг">
                </div>

                <div class="form-group col-md-12">
                    <label>Төрөл <a href="#">[?]</a></label>
                    <select class="form-control auto_width">
                      <option>Бараа</option>
                      <option>Үл хөдлөх хөрөнгө</option>
                      <option>Автомашин</option>
                      <option>Үйлчилгээ</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4 padding_left_delete">
                        <label>Ангилал</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>&nbsp&nbsp</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                    <div class="col-md-4 padding_right_delete">
                        <label>&nbsp&nbsp</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>    
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>Барааны төлөв <a href="#">[?]</a></label>
                    <select class="form-control auto_width">
                      <option>Шинэ</option>
                      <option>Шинэвтэр</option>
                      <option>Цэвэрхэн хэрэглэсэн</option>
                      <option>Хуучин</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Төлөвийн тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="3">Барааны төлөвийн тайлбар</textarea>
                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Дэлгэрэнгүй мэдээлэл</div></div>

                <div class="col-md-12">
                    <label>Зураг <a href="#">[?]</a></label>
                    <div class="add-deal-add-pictures">

                        <%= image_tag('123.jpg')%>

                        <div class="upload-photo">

                            <input type="file" name="upload"/>

                        </div>

                        <div class="add-photo">

                            <input type="submit">

                        </div>

                        <div class="progress-photo">

                            

                        </div>

                        <div class="clearfix"></div>

                        <div class="crop-pic">

                            <%= image_tag('iphone.jpg')%>

                        </div>

                        <div class="clearfix"></div>

                        aaaa

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group col-md-12">
                    <label>Барааны тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Барааны тухай мэдээлэл</textarea>
                </div>

                <div class="form-group col-md-12">
                    <label>Брэнд <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>Apple</option>
                      <option>Dell</option>
                      <option>Asus</option>
                      <option>Acer</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label>Бүтээгдэхүүний загвар <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>Iphone 3</option>
                      <option>Iphone 4</option>
                      <option>Iphone 4s</option>
                      <option>Iphone 5</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Үйлдлийн систем <a href="#">[хасах]</a></label>
                    <input type="text" class="form-control half-width" placeholder="IOS 9.0.1">
                </div>
                <div class="form-group col-md-12">
                    <label>Дэлгэцийн хэмжээ <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>4 инч</option>
                      <option>4.1 инч</option>
                      <option>5 инч</option>
                      <option>5.5 инч</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <a class="btn btn-primary" href="#">Өөр үзүүлэлт нэмэх</a>
                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Холбоо барих мэдээлэл</div></div>

                <div class="form-group col-md-12">
                    <label>Холбоо барих утас <a href="#">[?]</a></label>
                    <input type="text" class="form-control half-width" placeholder="Холбоо барих утас">
                </div>
                <div class="form-group col-md-12">
                    <label>Имэйл <a href="#">[?]</a></label>
                    <input type="text" class="form-control half-width" placeholder="Имэйл">
                </div>


                <div class="col-md-12"><div class="home-module-title sub-title">Сонирхож буй</div></div>

                <div class="form-group col-md-12">
                    <label>Сонирхож буй бараа бүтээгдэхүүн <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Та өөрийн хүсэж буй барааны нэрийг # тэмдэгт ашиглан бичвэл хайлтанд илрэх илэрцэнд илүү үр дүнтэй. 
Ж.нь: #SamsungGalaxyS6 #SamsungGalaxyS5</textarea>
                </div>


                <div class="hairly-line"></div>

                <div class="col-md-12 text-center"><button type="button" class="btn btn-success">Хадгалах</button></div>

                <button class="botTeal" id="botSimple1">Simple 1</button>
                <button class="botTeal" id="botSimple2">Simple 2</button>
                <button class="botTeal" id="botSimple3">Simple 3</button>
                


        </div>



















    <div class="main-right">


        <div class="home-free-items">


            <div class="home-module-title">Үнэгүй бараа</div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>


        </div>


    </div>









    </div>

    <div class="alert alert-success add-page-success" role="alert">Амжилтай хадгалагдлаа арьсан боовоо</div>

    <div class="footer">

        <div class="container">

            <div class="links">
                <a href="#">Нүүр</a>
                <a href="#">Бидний тухай</a>
                <a href="#">Үйлчилгээний нөхцөл</a>
                <a href="#">Тусламж</a>
                <a href="#">Сурталчилгаа байршуулах</a>
                <a href="#">Сайтын бүтэц</a>
                <a href="#">Холбоо барих</a>
            </div>
            <div class="footer-tm">

                ©2015 Deal.mn. All rights reserved.

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
$("#botSimple1 ").click(function () {
  $.growl({ title: "Growl", message: "The kitten is awake!", url: "/kittens", location: "br"});
  $.growl.error({ message: "The kitten is attacking!", location: "br", size: "small" });
  $.growl.notice({ message: "The kitten is cute!" , location: "br", delayOnHover: true});
  $.growl.warning({ message: "The kitten is ugly!", location: "br", fixed: true });
});
$("#botSimple2 ").click(function () {
    $.smallBox({
        title: "Small Information box ",
        content: "No Picture, 4 seconds timeout, no icon and custom color.",
        color: "#a4c400 ",
        timeout: 4000
    })
});
$("#botSimple3 ").click(function () {
    $.smallBox({
        title: "Small Information box ",
        content: "No Picture, 4 seconds timeout, no icon and custom color.",
        color: "#ff0000 ",
        timeout: 4000
    })
});
</script>


    

