<div class="main">


    <div class="container">


            

            


        <div class="add-deal-page">


            <div class="home-module-title big-title">Тохиролцоо нэмэх</div>

                <div class="col-md-12"><div class="home-module-title sub-title">Ерөнхий мэдээлэл</div></div>

                <div class="form-group col-md-12  has-error">
                    <label >Гарчиг <a href="#">[?]</a> <span class="has-error-span"> *гарчиг бичихэд алдаа гарсаа гөхшөө</span></label>
                    <input type="text" class="form-control" placeholder="Гарчиг">
                </div>

                <div class="form-group col-md-12">
                    <label>Төрөл <a href="#">[?]</a></label>
                    <select class="form-control auto_width">
                      <option>Бараа</option>
                      <option>Үл хөдлөх хөрөнгө</option>
                      <option>Автомашин</option>
                      <option>Үйлчилгээ</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4 padding_left_delete">
                        <label>Ангилал <span class="has-error-span"> *ангилал сонгоно уу</span></label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>&nbsp&nbsp</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                    <div class="col-md-4 padding_right_delete has-error">
                        <label>&nbsp&nbsp</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>    
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>Барааны төлөв <a href="#">[?]</a></label>
                    <select class="form-control auto_width">
                      <option>Шинэ</option>
                      <option>Шинэвтэр</option>
                      <option>Цэвэрхэн хэрэглэсэн</option>
                      <option>Хуучин</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Төлөвийн тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="3">Барааны төлөвийн тайлбар</textarea>
                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Дэлгэрэнгүй мэдээлэл</div></div>

                <div class="col-md-12">
                    <label>Зураг <a href="#">[?]</a></label>
                    <div class="add-deal-add-pictures">

                        

                        <div class="added-picture">
                            <div class="delete-button-img"><span class="glyphicon glyphicon-remove"></span></div>
                            <%= image_tag('123.jpg')%>
                        </div>

                        <div class="upload-photo">

                            <input type="file" name="upload"/>

                        </div>

                        <div class="add-photo">

                            <input type="submit">

                        </div>

                        <div class="progress-photo">

                            

                        </div>

                        <div class="clearfix"></div>

                        <div class="crop-pic">

                            <div class="upload-pic-loader"></div>

                            <%= image_tag('iphone.jpg')%>

                            

                        </div>

                        <div class="clearfix"></div>

                        <div class="pic-upload-buttons">

                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-primary">Default</button>
                            <button type="button" class="btn btn-success">Default</button>

                            

                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group col-md-12">
                    <label>Барааны тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Барааны тухай мэдээлэл</textarea>
                </div>

                <div class="form-group col-md-12">
                    <label>Брэнд <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>Apple</option>
                      <option>Dell</option>
                      <option>Asus</option>
                      <option>Acer</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label>Бүтээгдэхүүний загвар <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>Iphone 3</option>
                      <option>Iphone 4</option>
                      <option>Iphone 4s</option>
                      <option>Iphone 5</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Үйлдлийн систем <a href="#">[хасах]</a></label>
                    <input type="text" class="form-control half-width" placeholder="IOS 9.0.1">
                </div>
                <div class="form-group col-md-12">
                    <label>Дэлгэцийн хэмжээ <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>4 инч</option>
                      <option>4.1 инч</option>
                      <option>5 инч</option>
                      <option>5.5 инч</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        Өөр үзүүлэлт нэмэх
                    </button>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Өөр үзүүлэлт нэмэх</h4>
                          </div>
                          <div class="modal-body">
                              <div class="form-group col-md-6">
                                <label for="recipient-name" class="control-label">Нэр:</label>
                                <input type="text" class="form-control" />
                              </div>
                              <div class="form-group col-md-6">
                                <label for="recipient-name" class="control-label">Утга:</label>
                                <input type="text" class="form-control" />
                              </div>
                              <div class="clearfix"></div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Буцах</button>
                            <button type="button" class="btn btn-primary">Нэмэх</button>
                          </div>
                        </div>
                      </div>
                    </div>


                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Холбоо барих мэдээлэл</div></div>
                <div class="col-md-12"><div class="title_information">Сүүлд хэрэглэсэн холбоо барих мэдээллийг дахин ашиглах</div></div>

                <div class="col-md-12">

                <div class="prev-contact-info col-md-4">
                    Утас: 99111199<br/>
                    Имэйл: mail@mail.com
                </div>
                <div class="prev-contact-info col-md-4">
                    Утас: 99111199<br/>
                    Имэйл: mail@mail.com
                </div>
                <div class="prev-contact-info col-md-4">
                    Утас: 99111199<br/>
                    Имэйл: mail@mail.com
                </div><div class="prev-contact-info col-md-4">
                    Утас: 99111199<br/>
                    Имэйл: mail@mail.com
                </div>

                </div>

                <div class="form-group col-md-12">
                    <label>Холбоо барих утас <a href="#">[?]</a></label>
                    <input type="text" class="form-control half-width" placeholder="Холбоо барих утас">
                </div>
                <div class="form-group col-md-12">
                    <label>Имэйл <a href="#">[?]</a></label>
                    <input type="text" class="form-control half-width" placeholder="Имэйл">
                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Үнэлгээ</div></div>

                <div class="col-md-12">

                    <div class="price-free">
                        <div class="col-md-6">
                            <input id="toggle1" type="checkbox">
                            <label for="toggle1">Хэрэглэгчидэд үнэгүй</label>
                        </div>
                        <div class="col-md-6">
                            <input id="toggle2" type="checkbox">
                            <label for="toggle2">Deal.mn сайн үйлсийн аянд хандивлах</label>
                        </div>
                    </div>


                </div>
                <div class="col-md-12" style="padding:10px 0 0 0;">

                    
                        <div class="form-group col-md-3">
                            <label>Доод <a href="#">[?]</a></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Дээд <a href="#">[?]</a></label>
                            <input type="text" class="form-control ">
                        </div>


                </div>


                <div class="col-md-12"><div class="home-module-title sub-title">Сонирхож буй</div></div>

                <div class="form-group col-md-12">
                    <label>Сонирхож буй бараа бүтээгдэхүүн <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Та өөрийн хүсэж буй барааны нэрийг # тэмдэгт ашиглан бичвэл хайлтанд илрэх илэрцэнд илүү үр дүнтэй. 
Ж.нь: #SamsungGalaxyS6 #SamsungGalaxyS5</textarea>
                </div>


                <div class="hairly-line"></div>

                <div class="col-md-12 text-center"><button type="button" class="btn btn-success">Хадгалах</button></div>


        </div>



















    <div class="main-right">

        <div class="home-free-items">

            <div class="home-module-title">Саналууд</div>


            <div class="title_information"><span class="glyphicon glyphicon-info-sign"></span> &nbspБусдад санал болгосон бараа, үйлчилгээний 
                <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbspмэдээллээ тохиролцоонд ашиглах</div>
            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            


        </div>


        <div class="home-free-items">


            <div class="home-module-title">Үнэгүй бараа</div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>


        </div>


    </div>









    </div>

    <div class="footer">

        <div class="container">

            <div class="links">
                <a href="#">Нүүр</a>
                <a href="#">Бидний тухай</a>
                <a href="#">Үйлчилгээний нөхцөл</a>
                <a href="#">Тусламж</a>
                <a href="#">Сурталчилгаа байршуулах</a>
                <a href="#">Сайтын бүтэц</a>
                <a href="#">Холбоо барих</a>
            </div>
            <div class="footer-tm">

                ©2015 Deal.mn. All rights reserved.

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
$("#botSimple1 ").click(function () {
  $.growl({ title: "Growl", message: "The kitten is awake!", url: "/kittens", location: "br"});
  $.growl.error({ message: "The kitten is attacking!", location: "br", size: "small" });
  $.growl.notice({ message: "The kitten is cute!" , location: "br", delayOnHover: true});
  $.growl.warning({ message: "The kitten is ugly!", location: "br", fixed: true });
});
$("#botSimple2 ").click(function () {
    $.smallBox({
        title: "Small Information box ",
        content: "No Picture, 4 seconds timeout, no icon and custom color.",
        color: "#a4c400 ",
        timeout: 4000
    })
});
$("#botSimple3 ").click(function () {
    $.smallBox({
        title: "Small Information box ",
        content: "No Picture, 4 seconds timeout, no icon and custom color.",
        color: "#ff0000 ",
        timeout: 4000
    })
});
</script>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>


    

