 <div class="main">
  <div class="container">
    <div class="full-left">


          <div class="home-module-title big-title">Deal.mn сайтын үйлчилгээний нөхцөл</div>
                                    <p><strong>ЕРӨНХИЙ </strong><strong>ЗААЛТ</strong></p>

<p>Deal.mn сайтын үйлчилгээний нөхцөл нь уг онлайн салбараар үйлчлүүлэх, худалдан авалт хийхтэй холбоотой үүсэх харилцааг зохицуулахад оршино.</p>

<ol>
    <li>Хэрэглэгч худалдан авалт хийх, вэбсайтаар үйлчлүүлэхээсээ өмнө хүлээн зөвшөөрч баталгаажуулсны үндсэн дээр хэрэгжинэ.</li>
    <li>2.	Энэхүү үйлчилгээний нөхцөлийн хэрэгжилтэнд “Эй Пи Эм”  ХХК  /цаашид байгууллага гэх/ болон хэрэглэгч /цаашид хэрэглэгч гэх/ хамтран хяналт тавина.</li>
    <li>3.	apm.mn вэбсайт нь зөвхөн насанд хүрэгчдэд үйлчлэх ба насанд хүрээгүй хүүхэд эцэг эхийн хамт үйлчилгээний нөхцлийн дагуу худалдаа, үйлчилгээ авах боломжтой</li>
</ol>

<p><strong>НЭГ. </strong><strong>APM.MN </strong><strong>ХЭРЭГЛЭГЧ</strong></p>

<p>1.1 Цахим худалдааны тэмдэгтүүд нь “Эй Пи Эм” ХХК-ны  өмч бөгөөд энэхүү вэбсайтын лого, нэр бусад загварыг хуулах, олшруулах, дуурайх, өөр бусад ямар ч зүйлд ашиглахыг хориглоно.</p>
<p>1.2 Вэбсайтын ажиллагаа, түүний аюулгүй байдал, цахим худалдааны хэрэглэгчдийн мэдээллийн нууцлалыг байгууллага бүрэн хариуцна.</p>
<p>1.3 Байгууллага вэбсайтын мэдээллийн шинэчлэл, үнийн шинэчлэл, урамшуулал болон шинэ үйлчилгээний мэдээлэл зэргийг бүрэн хариуцна.</p>
<p>1.4 Хэрэглэгч вэбсайтын талаар санал гомдол, шинэ санаа, шинэ бараа борлуулах хүсэлт, шүүмж зэргийг дагуу чөлөөтэй илэрхийлэх, илгээх эрхтэй.</p>
<p>1.5 Хэрэглэгчийн мэдээллийн үнэн зөв, бодит байдалд хэрэглэгч бүрэн хариуцлага хүлээнэ.</p>
<p>1.6 Хэрэглэгч нэгэн зэрэг хэдэн ч худалдан авалт хийх боломжтой.</p>
<p>1.7 Хэрэглэгч худалдан авсан бараа бүтээгдэхүүнээ албаны болон гэрийн хаягаар хүргүүлэх эрхтэй.</p>

<p><strong>ХОЁР. ҮЙЛЧИЛГЭЭНИЙ ЦАГИЙН ХУВААРЬ</strong></p>

<p>2.1 Үйлчилгээ идэвхжих, бараа хүргэх хугацаа:
    </p><ul>
        <li>Биет бус барааны худалдаа – Хэрэглэгчийн зөвлөхийн ажлын цагийн хуваарийн дагуу 1 цагийн дотор идэвхжинэ.</li>
        <li>Биет барааны худалдаа - Хүргэлтийн цагийн хуваарийн дагуу 24 цагийн дотор хүргэгдэнэ.</li>
        <li>Зарим онцгой барааны худалдаа – Барааны хэлбэр, жин, овор хэмжээнээс хамааран үйлчилгээ идэвхжих болон хүргэлт хийх хугацаа өөр байр боломжтой.</li>
    </ul>
<p></p>

<p><strong>ГУРАВ. ХҮРГЭЛТ </strong></p>

<p>3.1 Бүх бараа бүтээгдэхүүнийг гэрээт хүргэгч компанийн хүргэлтийн ажилтан хүргэнэ.</p>
<p>3.2 Хүргэлт хот дотор 24 цаг, хөдөө орон нутагт ажлын 2-3 хоногт багтан хийгдэнэ.</p>
<p>3.3 Хүргэлт өдөр бүр 09:00-21:00 цагийн хооронд хийгдэх бөгөөд хэрэв тухайн барааг ажлын өдрийн 20:00 - аас хойш захиалсан бол маргааш өглөө нь хүргэж өгнө.</p>
<p>3.4 Хэрэглэгч хүргүүлэх хаяг, холбоо барих утасны дугаараа  үнэн зөв бөглөх үүрэгтэй ба хүргэлт хийгдэх цагаар утсаа нээлттэй байлгах, хаяган дээрээ байх шаардлагатай.</p>
<p>3.5 Хэрэглэгч барааг хүлээн авахдаа бичиг баримтаа хүргэлтийн ажилтанд шалгуулна.</p>
<p>3.6 Худалдан авалттай холбоотой дэлгэрэнгүй мэдээллийг хэрэглэгчийн бүртгүүлсэн и-мэйл хаяг руу тогтмол илгээгдэх ба хэрэглэгч өөрийн захиалгын түүх дотроосоо харах боломжтой. </p>

<p><strong>ДӨРӨВ. БАРИМТЖУУЛАЛТ </strong></p>

<p>4.1 Бүх гүйлгээ, шилжүүлэг, бараа түгээлтийг байгууллагын санхүүгийн тамга бүхий баримтан дээр үндэслэнэ.</p>
<p>4.2 Хэрэглэгч барааг санхүүгийн тамга бүхий баримтын хамт хүлээн авна.</p>
<p>4.3 Баримт нь бараа бүтээгдэхүүний худалдан авалт хийсэн баталгаа болно.</p>

<p><strong>ТАВ. БАРАА БУЦААХ НӨХЦӨЛ </strong></p>

<p>5.1 apm.mn вэбсайтнаас худалдан авсан бараагаа буцаах тохиолдолд хэрэглэгчийн зөвлөхийн ажлын цагийн хуваариас хамаараад хүргэлт эхлэхээс өмнө утсаар буюу чатаар холбогдон буцаах хүсэлтээ мэдэгдэх боломжтой. Энэ тохиолдолд зөвхөн банкны шимтгэлийг хэрэглэгчийн төлбөрөөс суутгана.</p>
<p>5.2 Худалдан авагч барааг хүлээн авснаас хойш 24 цагаас дотор дараах 5.1 заалтын дагуу барааг буцаах буюу солиулах боломжтой.</p>
<p>5.3 Хэрэглэгч хүргэлт очсон үед худалдан авсан бараагаа огт авахгүй буцаах үед худалдан авалтын нийт үнийн дүнгийн 10% хувийг хэрэглэгчээс авна. (Холбогдон гарах хүргэлтийн зардал болон бусад зардлууд орно.)</p>
<p>5.4 Худалдан авсан бараагаа ижил төрлийн бүтээгдэхүүнээр солих боломжтой ба давтан  хүргэлтийн зардлыг хэрэглэгч нэмж төлнө.</p>
<p>5.5 Худалдан авсан бараа бүтээгдэхүүн нь чанарын болон гэмтэлтэй тохиолдолд банкны шимтгэл болон хүргэлтийн зардлыг байгууллага бүрэн хариуцна.</p>
<p>5.6 apm.mn вэбсайтын бараа бүтээгдэхүүн байнга өөрчлөгдөн шинэчлэгдэж байдаг тул худалдан авагчийн авсан бараа дууссан тохиолдолд хэрэглэгчдэд мэдэгдэн барааны төлбөрийг нь дансанд нь банкны шимтгэл суутгахгүйгээр буцаана.</p>
        

<p><strong>ЗУРГАА</strong><strong>. </strong><strong>БУСАД</strong></p>

<p>6.1 Энэхүү гэрээний заалтууд нь өөрчлөгдөх боломжтой бөгөөд өөрчлөлтийг хэрэглэгчид мэдэгдэх үүрэг хүлээхгүй.</p>

<div class="hairly-line"></div>
<div class="col-md-12 text-center"><button class="btn btn-danger">Зөвшөөрөхгүй</button><button class="btn btn-success">Зөвшөөрөх</button></div>

            

   

        <div class="clearfix"></div>





    </div>



















<div class="main-right">

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>


  <div class="home-free-items">


    <div class="home-module-title">Үнэгүй бараа</div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>


  </div>

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>

</div>









</div>



























<script type="text/javascript">
$('#has-hovercard').hover(
  function(e){
    console.log("tes");
    clearTimeout($('.hovercard').data('timeoutId'));
    position = $(this).position();
    position.top = position.top + 15;
    position.left = position.left;

      //
      /*U can load the data using ajax too*/
      //

      $('.hovercard').show().css(position);
    },
    function(e){
      var someElement = $(this),
      timeoutId = setTimeout(function(){
        $('.hovercard').hide();
      }, 650);
      $('.hovercard').data('timeoutId', timeoutId); 
    });
$('.hovercard').hover(function(){
  clearTimeout($('.hovercard').data('timeoutId'));
},
function(){
  $(this).hide();
});

</script>


