<div class="main">


    <div class="container">


            

            


        <div class="add-deal-page">

            <div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
                    <h5>Таны санал илгээх гэж буй тохиролцоо.</h5>
                    <p><strong><a href="#">Iphone5s 32GB FU SpaceGray</a></strong></strong></p>
                </div>


            <div class="home-module-title big-title">Санал илгээх</div>

                

                <div class="form-group col-md-12">
                    <label>Гарчиг <a href="#">[?]</a></label>
                    <input type="text" class="form-control" placeholder="Гарчиг">
                </div>                

                <div class="col-md-12">
                    <label>Зураг <a href="#">[?]</a></label>
                    <div class="add-deal-add-pictures">

                        <%= image_tag('123.jpg')%>

                        <div class="upload-photo">

                            <input type="file" name="upload"/>

                        </div>

                        <div class="add-photo">

                            <input type="submit">

                        </div>

                        <div class="progress-photo">

                            

                        </div>

                        <div class="clearfix"></div>

                        <div class="crop-pic">

                            <%= image_tag('iphone.jpg')%>

                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group col-md-12">
                    <label>Барааны тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Барааны тухай мэдээлэл</textarea>
                </div>

                


                <div class="hairly-line"></div>

                <div class="col-md-12 text-center"><button type="button" class="btn btn-success">Санал илгээх</button></div>



        </div>



















    <div class="main-right">


        <div class="home-free-items">

            <div class="home-module-title">Таны тохиролцоо</div>


            <div class="title_information"><span class="glyphicon glyphicon-info-sign"></span> Өөрийн оруулсан тохиролцоог санал болгон 
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbspилгээх</div>
            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="right-deal-item">

                <div class="right-deal-item-img">

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            


        </div>


        <div class="home-free-items">


            <div class="home-module-title">Үнэгүй бараа</div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>


        </div>


    </div>









    </div>



      <div class="footer">

        <div class="container">

            <div class="links">
                <a href="#">Нүүр</a>
                <a href="#">Бидний тухай</a>
                <a href="#">Үйлчилгээний нөхцөл</a>
                <a href="#">Тусламж</a>
                <a href="#">Сурталчилгаа байршуулах</a>
                <a href="#">Сайтын бүтэц</a>
                <a href="#">Холбоо барих</a>
            </div>
            <div class="footer-tm">

                ©2015 Deal.mn. All rights reserved.

            </div>

        </div>

    </div>




</div>

