<div class="main">



    <div class="container">





            <div class="profile-left">

                <div class="profile-img portrait">

                    <%= image_tag('ad-chat.jpg')%>

                </div>
                <div class="col-md-12">

                    <div class="profile-img-change">
                        <input type="file" />
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName2">Овог</label>
                        <input type="text" class="form-control" placeholder="Овог">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Нэр</label>
                        <input type="text" class="form-control" placeholder="Нэр">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Нууц үг</label>
                        <input type="text" class="form-control" placeholder="Нууц үг">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Утас</label>
                        <input type="text" class="form-control" placeholder="Утас">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Имэйл</label>
                        <input type="text" class="form-control" placeholder="Имэйл">
                    </div>
                    <div class="hairly-line"></div>
                    <div class="text-center"><div class="btn btn-success" style="width:50%;">Засах</div></div>
                </div>

            </div>



            <div class="profile-right">

                <div class="home-module-title big-title">Ирсэн саналууд</div>

                <div class="alert alert-info" role="alert">Ирсэн санал байхгүй байна.</div>


                <div class="profile-user-messages">

                    <div class="full-detail-bid-item">
                                
                            <div class="full-detail-bid-item-detail-img">
                                <%= image_tag('galaxyS5.jpg')%>
                            </div>
                            <div class="full-detail-bid-item-detail">
                                <div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
                                <div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
                                <div class="full-detaul-bid-item-detail-description">

                                    За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

                                </div>

                            </div>

                        </div>
                        <div class="full-detail-bid-item">
                                
                            <div class="full-detail-bid-item-detail-img">
                                <%= image_tag('galaxyS5.jpg')%>
                            </div>
                            <div class="full-detail-bid-item-detail">
                                <div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
                                <div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
                                <div class="full-detaul-bid-item-detail-description">

                                    За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

                                </div>

                            </div>

                        </div>
                        <div class="full-detail-bid-item">
                                
                            <div class="full-detail-bid-item-detail-img">
                                <%= image_tag('galaxyS5.jpg')%>
                            </div>
                            <div class="full-detail-bid-item-detail">
                                <div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
                                <div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
                                <div class="full-detaul-bid-item-detail-description">

                                    За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

                                </div>

                            </div>

                        </div>
                        <div class="full-detail-bid-item">
                                
                            <div class="full-detail-bid-item-detail-img">
                                <%= image_tag('galaxyS5.jpg')%>
                            </div>
                            <div class="full-detail-bid-item-detail">
                                <div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
                                <div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
                                <div class="full-detaul-bid-item-detail-description">

                                    За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

                                </div>

                            </div>

                        </div>
                        <div class="full-detail-bid-item">
                                
                            <div class="full-detail-bid-item-detail-img">
                                <%= image_tag('galaxyS5.jpg')%>
                            </div>
                            <div class="full-detail-bid-item-detail">
                                <div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
                                <div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
                                <div class="full-detaul-bid-item-detail-description">

                                    За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

                                </div>

                            </div>

                        </div>

                </div>             



            </div>






    </div>


    <div class="footer">

        <div class="container">

            <div class="links">
                <a href="#">Нүүр</a>
                <a href="#">Бидний тухай</a>
                <a href="#">Үйлчилгээний нөхцөл</a>
                <a href="#">Тусламж</a>
                <a href="#">Сурталчилгаа байршуулах</a>
                <a href="#">Сайтын бүтэц</a>
                <a href="#">Холбоо барих</a>
            </div>
            <div class="footer-tm">

                ©2015 Deal.mn. All rights reserved.

            </div>

        </div>

    </div>

</div>

    