 <div class="main">
    <div class="container">



      <div class="full-left">

        <div class="home-module-title big-title">Тусламж</div>
          
          <div class="question"><div class="question-icon">?</div><h4>Асуулт асуух гсн юм. Асуулт гэж юу юм бэ ер нь?</h4></div>
          <div class="answer">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 

            <%= image_tag('help.jpg')%>

          </div>

           <div class="question"><div class="question-icon">?</div><h4>Асуулт асуух гсн юм. Асуулт гэж юу юм бэ ер нь?</h4></div>
          <div class="answer">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            <%= image_tag('help.jpg')%>

          </div>

           <div class="question"><div class="question-icon">?</div><h4>Асуулт асуух гсн юм. Асуулт гэж юу юм бэ ер нь?</h4></div>
          <div class="answer">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

          </div>

           <div class="question"><div class="question-icon">?</div><h4>Асуулт асуух гсн юм. Асуулт гэж юу юм бэ ер нь?</h4></div>
          <div class="answer">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

          </div>

           <div class="question"><div class="question-icon">?</div><h4>Асуулт асуух гсн юм. Асуулт гэж юу юм бэ ер нь?</h4></div>
          <div class="answer">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

          </div>

           <div class="question"><div class="question-icon">?</div><h4>Асуулт асуух гсн юм. Асуулт гэж юу юм бэ ер нь?</h4></div>
          <div class="answer">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

          </div>




          <div class="col-md-6">
            <div class="title-1 video-title">Шинээр бүртгүүлэх</div>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/i7wveOu5hkQ" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="col-md-6">
            <div class="title-1 video-title">Тохиролцоо оруулах</div>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/5zOssXysIU" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="col-md-6">
            <div class="title-1 video-title">Санал илгээх</div>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/i7wveOu5hkQ" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="col-md-6">
            <div class="title-1 video-title">Шинээр бүртгүүлэх</div>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/i7wveOu5hkQ" frameborder="0" allowfullscreen></iframe>
          </div>







    
     </div>














     <div class="main-right">

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>


  <div class="home-free-items">


    <div class="home-module-title">Үнэгүй бараа</div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>


  </div>

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>

</div>



   </div>
</div>






































<script type="text/javascript">
$('#has-hovercard').hover(
  function(e){
    console.log("tes");
    clearTimeout($('.hovercard').data('timeoutId'));
    position = $(this).position();
    position.top = position.top + 15;
    position.left = position.left;

      //
      /*U can load the data using ajax too*/
      //

      $('.hovercard').show().css(position);
    },
    function(e){
      var someElement = $(this),
      timeoutId = setTimeout(function(){
        $('.hovercard').hide();
      }, 650);
      $('.hovercard').data('timeoutId', timeoutId); 
    });
$('.hovercard').hover(function(){
  clearTimeout($('.hovercard').data('timeoutId'));
},
function(){
  $(this).hide();
});

</script>


