<div class="main">


    <div class="container">


            

            


        <div class="add-deal-page">


            <div class="home-module-title big-title">Тохиролцоо нэмэх</div>

                <div class="col-md-12"><div class="home-module-title sub-title">Ерөнхий мэдээлэл</div></div>

                <div class="form-group col-md-12">
                    <label>Гарчиг <a href="#">[?]</a></label>
                    <input type="text" class="form-control" placeholder="Гарчиг">
                </div>

                <div class="form-group col-md-12">
                    <label>Төрөл <a href="#">[?]</a></label>
                    <select class="form-control auto_width">
                      <option>Бараа</option>
                      <option>Үл хөдлөх хөрөнгө</option>
                      <option>Автомашин</option>
                      <option>Үйлчилгээ</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4 padding_left_delete">
                        <label>Ангилал</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>&nbsp&nbsp</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                    <div class="col-md-4 padding_right_delete">
                        <label>&nbsp&nbsp</label>
                        <select class="form-control" disabled>
                          <option>Бараа</option>    
                          <option>Үл хөдлөх хөрөнгө</option>
                          <option>Автомашин</option>
                          <option>Үйлчилгээ</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>Барааны төлөв <a href="#">[?]</a></label>
                    <select class="form-control auto_width">
                      <option>Шинэ</option>
                      <option>Шинэвтэр</option>
                      <option>Цэвэрхэн хэрэглэсэн</option>
                      <option>Хуучин</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Төлөвийн тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="3">Барааны төлөвийн тайлбар</textarea>
                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Дэлгэрэнгүй мэдээлэл</div></div>

                <div class="col-md-12">
                    <label>Зураг <a href="#">[?]</a></label>
                    <div class="add-deal-add-pictures">

                        <%= image_tag('123.jpg')%>

                        <a href="#"><div class="add-deal-add-pic-button"></div></a>

                        <div class="clearfix"></div>

                        aaaa

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group col-md-12">
                    <label>Барааны тайлбар <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Барааны тухай мэдээлэл</textarea>
                </div>

                <div class="form-group col-md-12">
                    <label>Брэнд <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>Apple</option>
                      <option>Dell</option>
                      <option>Asus</option>
                      <option>Acer</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label>Бүтээгдэхүүний загвар <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>Iphone 3</option>
                      <option>Iphone 4</option>
                      <option>Iphone 4s</option>
                      <option>Iphone 5</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Үйлдлийн систем <a href="#">[хасах]</a></label>
                    <input type="text" class="form-control half-width" placeholder="IOS 9.0.1">
                </div>
                <div class="form-group col-md-12">
                    <label>Дэлгэцийн хэмжээ <a href="#">[хасах]</a></label>
                    <select class="form-control half-width">
                      <option>4 инч</option>
                      <option>4.1 инч</option>
                      <option>5 инч</option>
                      <option>5.5 инч</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <a class="btn btn-primary" href="#">Өөр үзүүлэлт нэмэх</a>
                </div>

                <div class="col-md-12"><div class="home-module-title sub-title">Холбоо барих мэдээлэл</div></div>

                <div class="form-group col-md-12">
                    <label>Холбоо барих утас <a href="#">[?]</a></label>
                    <input type="text" class="form-control half-width" placeholder="Холбоо барих утас">
                </div>
                <div class="form-group col-md-12">
                    <label>Имэйл <a href="#">[?]</a></label>
                    <input type="text" class="form-control half-width" placeholder="Имэйл">
                </div>


                <div class="col-md-12"><div class="home-module-title sub-title">Сонирхож буй</div></div>

                <div class="form-group col-md-12">
                    <label>Сонирхож буй бараа бүтээгдэхүүн <a href="#">[?]</a></label>
                    <textarea class="form-control" rows="5">Та өөрийн хүсэж буй барааны нэрийг # тэмдэгт ашиглан бичвэл хайлтанд илрэх илэрцэнд илүү үр дүнтэй. 
Ж.нь: #SamsungGalaxyS6 #SamsungGalaxyS5</textarea>
                </div>


                <div class="hairly-line"></div>

                <div class="col-md-12 text-center"><button type="button" class="btn btn-success">Нэмэх</button></div>



        </div>



















    <div class="main-right">


        <div class="home-free-items">


            <div class="home-module-title">Үнэгүй бараа</div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>

            <div class="home-free-item">

                <div class="home-free-item-img">
                <div class="home-free-item-badget"></div>

                    <%= image_tag('123.jpg')%>

                </div>

                <div class="title-1">Iphone 6 space grey</div>
                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

                <div class="clearfix"></div>

            </div>


        </div>


    </div>









    </div>


















</div>