<div class="main">



    <div class="container">





            <div class="profile-left">

                <div class="profile-img">

                    <%= image_tag('avatar.jpg')%>

                </div>
                <div class="profile-name">
                    Бат-Эрдэнэ Дагвадорж
                </div>
                <div class="profile-rank">
                    <div class="ranking-stars">
                        <span class="rating">
                                <input type="radio" class="rating-input"
                            id="rating-input-1-5" name="rating-input-1"/>
                                <label for="rating-input-1-5" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                        id="rating-input-1-4" name="rating-input-1"/>
                                <label for="rating-input-1-4" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                        id="rating-input-1-3" name="rating-input-1"/>
                                <label for="rating-input-1-3" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                        id="rating-input-1-2" name="rating-input-1"/>
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                        id="rating-input-1-1" name="rating-input-1"/>
                                <label for="rating-input-1-1" class="rating-star"></label>
                        </span>
                    </div>
                    <div class="full-detail-user-info-raters">Үнэлсэн: 5</div>
                </div>
                <div class="hairly-line"></div>

                <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><a href="#">Таны оруулсан тохиролцоо</a></li>
                  <li role="presentation" class="active"><a href="#">Захиа<span class="badge">1</span></a></li>
                  <li role="presentation"><a href="#">Ирсэн саналууд<span class="badge">5</span></a></li>
                  <li role="presentation"><a href="#">Дугуйлсан тохиролцоо<span class="badge">5</span></a></li>
                </ul>

                <div class="hairly-line"></div>

                <div class="full-detail-user-info-deals">

                        <div class="full-detail-user-info-deals-reg"><span class="glyphicon glyphicon-calendar"></span> Бүртгүүлсэн: 2015.12.1</div>
                        <div class="full-detail-user-info-deals-all-deal"><span class="glyphicon glyphicon-tags"></span> Нийт оруулсан тохиролцоо: 15</div>
                        <div class="full-detail-user-info-deals-done-deal"><span class="glyphicon glyphicon-tag"></span> Хийгдсэн тохиролцоо: 15</div>
                        <div class="full-detail-user-info-deals-active-deal"><span class="glyphicon glyphicon-th-list"></span> Идэвхтэй тохиролцоо: 15</div>
                        <div class="full-detail-user-info-deals-phone"><span class="glyphicon glyphicon-phone"></span> Утас: 99119911</div>
                        <div class="full-detail-user-info-deals-email"><span class="glyphicon glyphicon-envelope"></span> Имэйл: mail@mail.com</div>

                        <div class="hairly-line"></div>

                        <div class="text-center"><div class="btn btn-success" style="width:50%;">Засах</div></div>


                 </div>

            </div>



            <div class="profile-right">

                <div class="home-module-title big-title">Захиа</div>

                <div class="profile-message-control">

                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></button>

                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-cog"></span> Тохиргоо
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Dropdown link</a></li>
                          <li><a href="#">Dropdown link</a></li>
                        </ul>
                      </div>
                    </div>

                </div>


                <div class="profile-user-messages-conversation">

                    <div class="message-from">

                      <div class="message-from-conversation">

                        <div class="message-from-user"><%= image_tag('avatar.jpg')%></div>
                        <div class="message-from-text">

                          Hi

                          <div class="message-from-date">
                          2015.12.31
                        </div>

                        </div>


                        <div class="clearfix"></div>

                      </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="message-to">

                      <div class="message-to-conversation">

                        <div class="message-to-text">

                          Hi

                          <div class="message-to-date">
                          2015.12.31
                        </div>

                        </div>


                        <div class="clearfix"></div>

                      </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="message-from">

                      <div class="message-from-conversation">

                        <div class="message-from-user"><%= image_tag('avatar.jpg')%></div>
                        <div class="message-from-text">

                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                          <div class="message-from-date">
                          2015.12.31
                        </div>

                        </div>


                        <div class="clearfix"></div>

                      </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="message-to">

                      <div class="message-to-conversation">

                        <div class="message-to-text">

                          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

                          <div class="message-to-date">
                          2015.12.31
                        </div>

                        </div>


                        <div class="clearfix"></div>

                      </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="message-from">

                      <div class="message-from-conversation">

                        <div class="message-from-user"><%= image_tag('avatar.jpg')%></div>
                        <div class="message-from-text">

                          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 

                          <div class="message-from-date">
                          2015.12.31
                        </div>

                        </div>


                        <div class="clearfix"></div>

                      </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="message-to">

                      <div class="message-to-conversation">

                        <div class="message-to-text">

                          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.

                          <div class="message-to-date">
                          2015.12.31
                        </div>

                        </div>


                        <div class="clearfix"></div>

                      </div>

                    </div>

                    <div class="clearfix"></div>

                    

                </div>  

                <div class="chat-right">

                  <div class="full-detail-user-information">
                    <div class="full-detail-user-info-short">
                      <div class="full-detail-user-info-img"><%= image_tag('avatar.png')%></div>
                      <div class="full-detail-user-info-name"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
                      <div class="full-detail-user-info-rate">
                        <%= image_tag('rank-mid.png')%>
                        <div class="full-detail-user-info-raters">Үнэлсэн: 5</div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="hairly-line"></div>
                      <div class="full-detail-user-info-deals">
                        <div class="full-detail-user-info-deals-reg"><span class="glyphicon glyphicon-calendar"></span> Бүртгүүлсэн: 2015.12.1</div>
                        <div class="full-detail-user-info-deals-all-deal"><span class="glyphicon glyphicon-tags"></span> Нийт оруулсан тохиролцоо: 15</div>
                        <div class="full-detail-user-info-deals-done-deal"><span class="glyphicon glyphicon-tag"></span> Хийгдсэн тохиролцоо: 15</div>
                        <div class="full-detail-user-info-deals-active-deal"><span class="glyphicon glyphicon-th-list"></span> Идэвхтэй тохиролцоо: 15</div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <%= image_tag('ad-chat.jpg')%>



                </div> 



                

                <div class="message-send-input">

                  <textarea class="form-control" rows="3"></textarea>

                  <button type="submit" class="btn btn-primary pull-right">Илгээх</button>

                </div>         

                <div class="clearfix"></div>


            </div>






    </div>


    <div class="footer">

        <div class="container">

            <div class="links">
                <a href="#">Нүүр</a>
                <a href="#">Бидний тухай</a>
                <a href="#">Үйлчилгээний нөхцөл</a>
                <a href="#">Тусламж</a>
                <a href="#">Сурталчилгаа байршуулах</a>
                <a href="#">Сайтын бүтэц</a>
                <a href="#">Холбоо барих</a>
            </div>
            <div class="footer-tm">

                ©2015 Deal.mn. All rights reserved.

            </div>

        </div>

    </div>

</div>

