<div class="main">
  <div class="container">
    <div class="main-left">


          <div class="left-container">

            <div class="">

            <div class="left-filter-category">
              <a href="#"><span class="glyphicon glyphicon-menu-left"></span> Бүх ангилал</a>
              <ul>
                <li>Ном, Сурах бичиг
                  <ul>
                    <li><a href="#">Сурах бичиг</a></li>
                    <li><a href="#">Түүх, шинжлэх ухаан</a></li>
                    <li><a href="#">Шашин, Философи</a></li>
                    <li><a href="#">Уран зохиол</a></li>
                    <li><a href="#">Танин мэдэхүй</a></li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="hairly-line"></div>

            <div class="title5">Дэлгэрэнгүй хайлт</div>

            <div class="left-filter-condition">
              <div class="title4">Төлөв</div>
                <a href="#" class="active">Шинэ</a><br/>
                <a href="#">Шинэвтэр</a><br/>
                <a href="#">Хуучин</a>
            </div>

            <div class="hairly-line"></div>

            <div class="left-filter-rank">
              <div class="title4">Үнэлгээ</div>
                    <a href="#" class="active">
                      <div class="static-rating">
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      </div>
                      ба түүнээс дээш
                    </a><br/>                
                    <a href="#">
                      <div class="static-rating">
                      <span>★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      </div>
                      ба түүнээс дээш
                    </a><br/>
                    <a href="#">
                      <div class="static-rating">
                      <span>★</span>
                      <span>★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      </div>
                      ба түүнээс дээш
                    </a><br/>
                    <a href="#">
                      <div class="static-rating">
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span class="is-active">★</span>
                      <span class="is-active">★</span>
                      </div>
                      ба түүнээс дээш
                    </a><br/>
                    <a href="#">
                      <div class="static-rating">
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span class="is-active">★</span>
                      </div>
                      ба түүнээс дээш
                    </a>
            </div>

            <div class="hairly-line"></div>

            <div class="left-filter-price">
              <div class="title4">Мөнгөн үнэлгээ</div>
              <div class="form-group">
                <label for="exampleInputEmail1">Доод</label>
                <input type="text" class="form-control" id="low-price">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Дээд</label>
                <input type="text" class="form-control" id="high-price">
              </div>
              <div class="clearfix"></div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Үнэгүй
                </label>
              </div>              
            </div>

            <div class="hairly-line"></div>

            <div class="left-filter-closed">
              <div class="title4">Бусад</div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Хаагдсан тохиролцооноос хайх
                </label>
              </div>

            <div class="clearfix"></div>
            </div>
          </div>
          </div>

          <div class="left-banner">
            <%= image_tag('banner1.png')%>
          </div>

    </div>

    <div class="main-timeline">

          <div class="add-deal-button-container">

            <button type="button" class="btn btn-default">Тохиролцоо нэмэх</button>

          </div>

    

          <div class="timeline-message-box">

            <div class="timeline-message-box-items">Ном, Сурах бичиг <span class="glyphicon glyphicon-remove"></span></div>
            <div class="timeline-message-box-items">Iphone4s <span class="glyphicon glyphicon-remove"></span></div>
            <div class="timeline-message-box-items">Шинэ <span class="glyphicon glyphicon-remove"></span></div>
            <div class="timeline-message-box-items">3 ба түүнээс дээш үнэлгээтэй <span class="glyphicon glyphicon-remove"></span></div>


            <div class="clearfix"></div>

          </div>

   

        <div class="clearfix"></div>





    </div>



















<div class="main-right">

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>


  <div class="home-free-items">


    <div class="home-module-title">Үнэгүй бараа</div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>

    <div class="home-free-item">

      <div class="home-free-item-img">
        <div class="home-free-item-badget"></div>

        <%= image_tag('123.jpg')%>

      </div>

      <div class="title-1">Iphone 6 space grey</div>
      <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>

      <div class="clearfix"></div>

    </div>


  </div>

  <div class="right-banner">

    <a href="#"><%= image_tag('bobby_banner.jpg')%></a>

  </div>

</div>









</div>



























<script type="text/javascript">
$('#has-hovercard').hover(
  function(e){
    console.log("tes");
    clearTimeout($('.hovercard').data('timeoutId'));
    position = $(this).position();
    position.top = position.top + 15;
    position.left = position.left;

      //
      /*U can load the data using ajax too*/
      //

      $('.hovercard').show().css(position);
    },
    function(e){
      var someElement = $(this),
      timeoutId = setTimeout(function(){
        $('.hovercard').hide();
      }, 650);
      $('.hovercard').data('timeoutId', timeoutId); 
    });
$('.hovercard').hover(function(){
  clearTimeout($('.hovercard').data('timeoutId'));
},
function(){
  $(this).hide();
});

</script>


