<div class="main">

    <div class="container">

    	<div class="deal-full-detail-page-container">

	    	<div class="deal-full-detail-page">

	    		<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
	                <div class="btn btn-primary bid-accept-button"><span class="glyphicon glyphicon-ok" style="margin-right:3px;"></span> Зөвшөөрөх</div>
	    			<h5>Санал ирсэн тохиролцоо.</h5>
	    			<p><strong><a href="#">Iphone5s 32GB FU SpaceGray</a></strong></strong></p>
	    		</div>

		        <div class="full-detail-images">
		          <div class="full-detail-image-slide">
		            <%= image_tag('1234.jpg')%>
		          </div>
		          <div class="full-detail-image-thumb">

		          	<a href="#" class="active"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>

		          </div>
		        </div>
		        <div class="full-detail-short-info">
		          <div class="full-detail-title">Apple iPhone 5S GSM Factory Unlocked 16GB</div>
		        
		          <div class="full-detail-short-information">

		          	<div class="hairly-line"></div>
		          	<div class="full-detail-short-description-intro" style="line-height:22px;">
		          		<strong style="font-size:14px;">Тайлбар: <br/></strong>
		          		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
		          		It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		          	</div>
		          	<div class="hairly-line"></div>

		          </div>

		          <div class="clearfix"></div>

		        </div>
		        
		        <div class="clearfix"></div>
	      	</div>

	      	

      	</div>




      	<div class="main-right">


      		<div class="full-detail-user-information">

      			<div class="home-module-title">Тохиролцоо оруулсан</div>


      			<div class="full-detail-user-info-short">

      				<div class="full-detail-user-info-img"><%= image_tag('avatar.png')%></div>
      				<div class="full-detail-user-info-name"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
      				<div class="full-detail-user-info-rate">
      					<%= image_tag('rank-mid.png')%>
      					<div class="full-detail-user-info-raters">Үнэлсэн: 5</div>
      				</div>

      				<div class="clearfix"></div>

      				<div class="hairly-line"></div>

      				<div class="full-detail-user-info-deals">

      					<div class="full-detail-user-info-deals-reg"><span class="glyphicon glyphicon-calendar"></span> Бүртгүүлсэн: 2015.12.1</div>
      					<div class="full-detail-user-info-deals-all-deal"><span class="glyphicon glyphicon-tags"></span> Нийт оруулсан тохиролцоо: 15</div>
      					<div class="full-detail-user-info-deals-done-deal"><span class="glyphicon glyphicon-tag"></span> Хийгдсэн тохиролцоо: 15</div>
      					<div class="full-detail-user-info-deals-active-deal"><span class="glyphicon glyphicon-th-list"></span> Идэвхтэй тохиролцоо: 15</div>
      					<div class="full-detail-user-info-deals-phone"><span class="glyphicon glyphicon-phone"></span> Утас: 99119911</div>
      					<div class="full-detail-user-info-deals-email"><span class="glyphicon glyphicon-envelope"></span> Имэйл: mail@mail.com</div>

      					<div class="hairly-line"></div>

      					<div class="text-center"><div class="btn btn-success" style="width:50%;">Чатлах</div></div>


      				</div>

      			</div>


      			<div class="clearfix"></div>


      		</div>


        	<div class="home-free-items">
            	<div class="home-module-title">Үнэгүй бараа</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            </div>   


            <div class="right-banner">

		    	<a href="#"><%= image_tag('bobby_banner.jpg')%></a>

		    </div>         
        </div>














   	</div>

	<div class="footer">

   		<div class="container">

   			<div class="links">
   				<a href="#">Нүүр</a>
   				<a href="#">Бидний тухай</a>
   				<a href="#">Үйлчилгээний нөхцөл</a>
   				<a href="#">Тусламж</a>
   				<a href="#">Сурталчилгаа байршуулах</a>
   				<a href="#">Сайтын бүтэц</a>
   				<a href="#">Холбоо барих</a>
   			</div>
   			<div class="footer-tm">

   				©2015 Deal.mn. All rights reserved.

   			</div>

   		</div>

   	</div>


</div>

   	
