<div class="main">


	<div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="#">Нүүр</a></li>
          <li><a href="#">Бараа бүтээгдэхүүн</a></li>
          <li><a href="#">Цахилгаан бараа</a></li>
          <li><a href="#">Гар утас</a></li>
          <li class="active">Apple iPhone 5S GSM Factory Unlocked 16GB</li>
        </ol>
      </div>
    </div>


    <div class="container">

    	<div class="deal-full-detail-page-container">
	    	<div class="deal-full-detail-page">
		        <div class="full-detail-images">
		          <div class="full-detail-image-slide">
		          	<div class="full-detail-image-loader"></div>
		          </div>
		          <div class="full-detail-image-thumb">

		          	<a href="#" class="active"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>
		          	<a href="#"><%= image_tag('1234.jpg')%></a>

		          </div>
		        </div>
		        <div class="full-detail-short-info">
		          <div class="full-detail-title">Apple iPhone 5S GSM Factory Unlocked 16GB</div>
		          <div class="full-detail-watchers">Үзсэн: 12
		          	<div class="full-detail-rate"><%= image_tag('rank-mid.png')%> <span>Үнэлсэн: 5</span></div>
		          </div>

		          <div class="full-detail-short-information">

		          	<div class="full-detail-short-closed">Хаагдсан тохиролцоо. Та санал илгээх боломжгүй</div>
		          	<div class="hairly-line"></div>
		          	<div class="full-detail-short-condition"><strong>Төлөв:</strong> Шинэвтэр</div>
		          	<div class="hairly-line"></div>
		          	<div class="full-detail-short-wanted"><strong>Хүсэж буй: </strong>
		          		<div><a href="#">SamsungGalaxyS6</a>, <a href="#">SamsungGalaxyS5</a>, <a href="#">IpadMini3</a></div>
		          	</div>
		          	<div class="hairly-line"></div>
		          	<div class="full-detail-short-description-intro">
		          		<strong>Тайлбар: <br/></strong>
		          		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.<br/>
		          		<a href="#" class="readmore-1">Дэлгэрэнгүй</a>
		          	</div>
		          	<div class="hairly-line"></div>
		          	<div class="full-detail-short-deals-intro">
		          		<strong>Ирсэн санал: <br/></strong>
		          		<div class="full-detail-short-deals-intro-items">
		          			<a class="accepted-bid-item-little" href="#"><%= image_tag('123.jpg')%></a>
		          			<a href="#"><%= image_tag('123.jpg')%></a>
		          			<a href="#"><%= image_tag('123.jpg')%></a>
		          			<a href="#"><%= image_tag('123.jpg')%></a>
		          		</div>
		          	</div>
		          	<div class="hairly-line"></div>
		          	<div class="full-detail-deal-buttons">
		          		<div class="checkbox btn btn-default">
	                        <label>
	                            <input type="checkbox"> Дугуайлах
	                        </label>
	                    </div>
	                    <div class="btn btn-primary" style="margin-top:10px;">Санал илгээх</div>
	                    <div class="btn btn-success" style="margin-top:10px;">Чатлах</div>
		          	</div>

		          </div>

		          <div class="clearfix"></div>

		        </div>

		        <div class="hairly-line"></div>

		        <div class="full-detail-full">

		        	<div class="full-detail-full-title">Барааны мэдээлэл</div>


		        	<div class="full-detail-description">

		        		<strong style="font-size:14px;">Тайлбар: <br/></strong>

		        		<p>
		        			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		        		</p>

		        	</div>
		        	<div class="full-detail-spec">

		        		<strong>Үзүүлэлт: <br/></strong>

		        		<table border="0" cellpadding="0" cellspacing="0" class="full-detail-spec-table table-striped">
							<tbody>
								<tr>
									<td style="height:20px; width:215px">Сүлжээ</td>
									<td style="width:515px">Gsm / HSPA / LTE</td>
								</tr>
								<tr>
									<td style="height:20px">Худалдаанд гарсан хугацаа</td>
									<td>2015 оны 1-р сар</td>
								</tr>
								<tr>
									<td style="height:20px">Хэмжээ</td>
									<td>151 x 76.2 x 6.3 mm</td>
								</tr>
								<tr>
									<td style="height:20px">Сим</td>
									<td>Нано сим</td>
								</tr>
								<tr>
									<td style="height:20px">Жин</td>
									<td>141 гр</td>
								</tr>
								<tr>
									<td style="height:76px">Дэлгэц</td>
									<td style="width:515px">Super AMOLED capacitive touchscreen, 16M colors, 1080 x 1920 pixel, multi touch, 5.5 инч, Gorilla зурагддаггүй шил&nbsp;</td>
								</tr>
								<tr>
									<td style="height:20px">Version</td>
									<td>Android OS, v4.4.4 (KitKat),&nbsp;</td>
								</tr>
								<tr>
									<td style="height:20px">CPU</td>
									<td>Quad-core 1.5 GHz Cortex-A53 &amp; quad-core 1.0 GHz Cortex-A53 - A700FD</td>
								</tr>
								<tr>
									<td style="height:20px">Мемору карт</td>
									<td>64 Gb-ийг нэмэх боломжтой</td>
								</tr>
								<tr>
									<td style="height:20px">Багтаамж&nbsp;</td>
									<td>16 Gb</td>
								</tr>
								<tr>
									<td style="height:20px">Ram</td>
									<td>2 Gb</td>
								</tr>
								<tr>
									<td rowspan="2" style="height:77px">Камер</td>
									<td style="width:515px">Ард камер 13 Mp, 4128 x 3096 pixels, автомат фокус тааруулагч, LED гэрэлтэй,&nbsp;</td>
								</tr>
								<tr>
									<td style="height:20px">Урд камер 5 Mp, 1080p</td>
								</tr>
								<tr>
									<td style="height:20px">&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>	


		        	</div>

		        	<div class="full-detail-bids">

		        		<strong>Ирсэн саналууд: <br/></strong>

		        		<div class="full-detail-bid-item accepted-bid-item">

		        			<div class="timeline-badget accepted-badget"></div>
	      						
	      					<div class="full-detail-bid-item-detail-img">
	      						<%= image_tag('galaxyS5.jpg')%>
	      					</div>
	      					<div class="full-detail-bid-item-detail">
	      						<div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
	      						<div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
	      						<div class="full-detaul-bid-item-detail-description">

	      							За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

	      						</div>

	      					</div>

		        		</div>

		        		<div class="full-detail-bid-item">
	      						
	      					<div class="full-detail-bid-item-detail-img">
	      						<%= image_tag('galaxyS5.jpg')%>
	      					</div>
	      					<div class="full-detail-bid-item-detail">
	      						<div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
	      						<div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
	      						<div class="full-detaul-bid-item-detail-description">

	      							За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

	      						</div>

	      					</div>

		        		</div>

		        		<div class="full-detail-bid-item">
	      						
	      					<div class="full-detail-bid-item-detail-img">
	      						<%= image_tag('galaxyS5.jpg')%>
	      					</div>
	      					<div class="full-detail-bid-item-detail">
	      						<div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
	      						<div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
	      						<div class="full-detaul-bid-item-detail-description">

	      							За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

	      						</div>

	      					</div>

		        		</div>

		        		<div class="full-detail-bid-item">
	      						
	      					<div class="full-detail-bid-item-detail-img">
	      						<%= image_tag('galaxyS5.jpg')%>
	      					</div>
	      					<div class="full-detail-bid-item-detail">
	      						<div class="full-detail-bid-item-detail-title"><a href="#">Samsung Galaxy S5 Euro</a></div>
	      						<div class="full-detail-bid-user"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
	      						<div class="full-detaul-bid-item-detail-description">

	      							За шууд соливол солий, тулвал тулая. Цоо шинэ хайрцаг савтайгаа Samsung Galaxy S5 Euro байна.

	      						</div>

	      					</div>

		        		</div>

		        		


		        	</div>



		        </div>
		        <div class="clearfix"></div>
	      	</div>

	      	<div class="deal-full-detail-page similar-items">

	      		<div class="home-module-title">Санал болгох</div>

	      		

	      			<div class="similar-arrow-right"></div><div class="similar-arrow-left"></div>

	      		

	      		<div class="deal-full-similar-items">

	      			<div class="deal-full-similar-item">

	      				<div class="deal-full-similar-item-img"><%= image_tag('galaxyS5.jpg')%></div>
	      				<div class="deal-full-similar-item-name"><a href="#">Apple iphone 5s fu 32gb</a></div>
	      				<div class="deal-full-similar-item-user"><a href="#">Энхбаяр Элбэгдорж</a></div>
	      				<div class="deal-full-similar-item-discription">

	      					Lorem Ipsum is simply dummy text of the printing and typesetting industry.

	      				</div>

	      			</div>

	      			<div class="deal-full-similar-item">

	      				<div class="deal-full-similar-item-img"><%= image_tag('1234.jpg')%></div>
	      				<div class="deal-full-similar-item-name"><a href="#">Apple iphone 5s fu 32gb</a></div>
	      				<div class="deal-full-similar-item-user"><a href="#">Энхбаяр Элбэгдорж</a></div>
	      				<div class="deal-full-similar-item-discription">

	      					Lorem Ipsum is simply dummy text of the printing and typesetting industry.

	      				</div>

	      			</div>

	      			<div class="deal-full-similar-item">

	      				<div class="deal-full-similar-item-img"><%= image_tag('123.jpg')%></div>
	      				<div class="deal-full-similar-item-name"><a href="#">Apple iphone 5s fu 32gb</a></div>
	      				<div class="deal-full-similar-item-user"><a href="#">Энхбаяр Элбэгдорж</a></div>
	      				<div class="deal-full-similar-item-discription">

	      					Lorem Ipsum is simply dummy text of the printing and typesetting industry.

	      				</div>

	      			</div>

	      			<div class="deal-full-similar-item">

	      				<div class="deal-full-similar-item-img"><%= image_tag('iphone.jpg')%></div>
	      				<div class="deal-full-similar-item-name"><a href="#">Apple iphone 5s fu 32gb</a></div>
	      				<div class="deal-full-similar-item-user"><a href="#">Энхбаяр Элбэгдорж</a></div>
	      				<div class="deal-full-similar-item-discription">

	      					Lorem Ipsum is simply dummy text of the printing and typesetting industry.

	      				</div>

	      			</div>

	      		</div>


	      		<div class="clearfix"></div>

	      	</div>

      	</div>




      	<div class="main-right">


      		<div class="full-detail-user-information">

      			<div class="home-module-title">Тохиролцоо оруулсан</div>


      			<div class="full-detail-user-info-short">

      				<div class="full-detail-user-info-img"><%= image_tag('avatar.png')%></div>
      				<div class="full-detail-user-info-name"><a href="#">Бадар-Ууган Чагнаадорж</a></div>
      				<div class="full-detail-user-info-rate">
      					<%= image_tag('rank-mid.png')%>
      					<div class="full-detail-user-info-raters">Үнэлсэн: 5</div>
      				</div>

      				<div class="clearfix"></div>

      				<div class="hairly-line"></div>

      				<div class="full-detail-user-info-deals">

      					<div class="full-detail-user-info-deals-reg"><span class="glyphicon glyphicon-calendar"></span> Бүртгүүлсэн: 2015.12.1</div>
      					<div class="full-detail-user-info-deals-all-deal"><span class="glyphicon glyphicon-tags"></span> Нийт оруулсан тохиролцоо: 15</div>
      					<div class="full-detail-user-info-deals-done-deal"><span class="glyphicon glyphicon-tag"></span> Хийгдсэн тохиролцоо: 15</div>
      					<div class="full-detail-user-info-deals-active-deal"><span class="glyphicon glyphicon-th-list"></span> Идэвхтэй тохиролцоо: 15</div>
      					<div class="full-detail-user-info-deals-phone"><span class="glyphicon glyphicon-phone"></span> Утас: 99119911</div>
      					<div class="full-detail-user-info-deals-email"><span class="glyphicon glyphicon-envelope"></span> Имэйл: mail@mail.com</div>

      					<div class="hairly-line"></div>

      					<div class="text-center"><div class="btn btn-success" style="width:50%;">Чатлах</div></div>


      				</div>

      			</div>


      			<div class="clearfix"></div>


      		</div>


        	<div class="home-free-items">
            	<div class="home-module-title">Үнэгүй бараа</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            	<div class="home-free-item">
	                <div class="home-free-item-img">
	                	<div class="home-free-item-badget"></div>
	                    <%= image_tag('123.jpg')%>
	                </div>
	                <div class="title-1">Iphone 6 space grey</div>
	                <div class="info-1">Хэрэгтэй нэгэнд нь хэрэг болох биз үнэгүй ирээд аваарай.</div>                
	                <div class="clearfix"></div>
            	</div>
            </div>   


            <div class="right-banner">

		    	<a href="#"><%= image_tag('bobby_banner.jpg')%></a>

		    </div>         
        </div>














   	</div>

	


</div>

   	
