<!DOCTYPE html>
<html>
  <head>
    <title>Deal.MN</title>
    <script>window.I18n = <%= current_translations.to_json.html_safe %></script>
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header_top">
      <div class="container">
        <%= react_component("HeaderInfoBar", site_stat: SiteStat.first) %>
        <div class="header_top_menu">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to t('view.header.about_us'), '#' %>
            </li>
            <li>
              <%= link_to t('view.header.terms_of_use'), '/terms' %>
            </li>
          <% unless user_signed_in? %>
            <li>
              <%= link_to t('view.registration.register'), new_registration_path('user') %>
            </li>
          <% end %>
            <li class="header_top_menu_last">
              <%= link_to tag(:span, class: ["glyphicon","glyphicon-question-sign"]), '#', style: "font-size:14px;" %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="header_mid">
      <div class="container">
        <a href="/"><div class="logo"></div></a>
        <div class="logo-right-category"> 
          <% unless (controller.controller_name == "home" && controller.action_name == "index") %>
          <div class='hover'>
            <a href="#">Ангилал <span class="caret"></span></a>
            <div class="tooltip" style="width:250px">
              <%= react_component("CategoryMenu", url: "/rest/categories.json") %>
            </div>
          </div>
          <% end %>
        </div>
        
        <%= react_component("SearchBar", url: "/rest/categories.json?exclude_children=true") %>
        
        <%= react_component("HeaderProfile", current_user_id: current_user.try(:id)) %>

      </div>    
    </div>

    <div class="clearfix"></div>

    <%= yield %>

    <div class="footer">

        <div class="container">

            <div class="links">
                <a href="#">Нүүр</a>
                <a href="#">Бидний тухай</a>
                <a href="/terms">Үйлчилгээний нөхцөл</a>
                <a href="#">Түгээмэл асуулт хариулт</a>
                <a href="#">Сурталчилгаа байршуулах</a>
                <a href="#">Сайтын бүтэц</a>
                <a href="#">Холбоо барих</a>
            </div>
            <div class="footer-tm">

                ©2016 Deal.mn. All rights reserved.

            </div>

        </div>

    </div>

    <script>

    $(window).load(function(){
      $(".header_mid").sticky({ topSpacing: 0, className: 'header-sticked' });
    });

    </script> 


  </body>
</html>
